.navTitle {
    color: #333;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 7px
}

.navContainer {
    margin-left: 1rem;
}

.navTitle:hover {
    color: #2b8a3e;
}

.nav {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    border: solid 1px #333;
    padding: 6px;
    border-radius: 10px;
    margin-right: 0.5rem;
    justify-content: center;
}

.nav:hover {
    color: #2b8a3e;
    border: solid 2px #2b8a3e;
}